In [18]:
# coding: utf-8

import xarray as xr
import numpy as np
import pandas as pd
from glob import glob
import sys
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pickle
import os

In [20]:
data1, data2 = main()

Year: 2002
Month: 1

In [5]:
data1.shape

(745, 153, 166)

In [27]:
sn_pr1 = data1.where(data2 > 1, 999)

In [17]:
np.nanmax(sn_pr1)

280.8208

In [28]:
# use the np.where to mask everything that's >2 and <-2 in the data
# Where it's not masked, make it 1. 
# Sum everything each month. That will be the number of hours  
count_bool_le = np.less_equal(sn_pr1.values, 271.15)
count_bool_ge = np.greater_equal(sn_pr1.values, 275.15)
# Boolean array with the places where the temperature is between -2 and 2
between = count_bool_ge + count_bool_le
aux = np.invert(between)
# Counting all the 1 values in the time dimension
count = np.count_nonzero(aux.astype(int), axis=0)

In [29]:
count

array([[17, 13,  5, ...,  4,  4,  5],
       [12, 13,  1, ...,  5,  6,  6],
       [20, 12,  4, ...,  6,  6,  6],
       ...,
       [ 0,  0,  0, ...,  9,  8,  8],
       [ 0,  0,  0, ...,  6,  8,  7],
       [ 0,  0,  0, ...,  6,  8,  7]])

In [23]:
count

array([[736, 736, 742, ..., 726, 727, 728],
       [738, 742, 740, ..., 726, 726, 726],
       [737, 741, 742, ..., 725, 726, 724],
       ...,
       [741, 741, 741, ..., 743, 743, 742],
       [744, 741, 741, ..., 742, 743, 742],
       [744, 744, 744, ..., 742, 742, 743]])

In [49]:
np.copyto(aux2, aux, where=between)

In [50]:
np.nanmin(aux2)

271.15005

In [43]:
aux2

array([[[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ..., 273.3477 , 273.30353,
         273.26233],
        [      nan,       nan,       nan, ..., 273.32568, 273.27975,
         273.23584],
        [      nan,       nan,       nan, ..., 273.30148, 273.2549 ,
         273.2064 ]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ..., 273.2735 , 273.22034,
         273.17102],
        [      nan,       nan,       nan, ..., 273.24127, 273.18796,
         273.14066],
        [      nan,       nan,       nan, ..., 273.20587, 273.1542 ,
         273.11078]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ..., 273.19376, 273.14908,
         273.10785],
        [      nan,       nan,       nan, ..., 273.16296, 273.11984,
         273.08148],
        [      nan,       nan,       nan, ..., 273.1333 , 273.09244,
         273.05777]],

       ...,

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan]]], dtype=float32)

In [22]:
count_bool_ge

array([[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False],
        [ True,  True,  True, ..., False, False, False]],

       ...,

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]]])

In [19]:
def main():
    
  sim = "CTRL"
  st = f"/chinook/marinier/CONUS_2D/{sim}"

  datai = 2002
  dataf = 2011

  store = '/chinook/cruman/Data/Near0Events' 

  ns = 1e-9

  # Need to change this size later, as the grid is much larger now  
  events = np.empty((153,166), dtype=object)

  for i in range(events.shape[0]):
    for j in range(events.shape[1]):      
      events[i,j] = []      


  aux = 0
  t = 0
  dur = 0
  aux_sn = 0
  t_sn = 0
  dur_sn = 0
  sn = 0
  # annual data
  for y in range(datai, dataf+1):
    print(f"Year: {y}")
    
    for m in range(1, 13):

      # Open Dataset
      if 1 <= m <= 3:
        mi = 1
        mf = 3
      elif 4 <= m <= 6:
        mi = 4
        mf = 6
      elif 7 <= m <= 9:
        mi = 7
        mf = 9
      else:
        mi = 10
        mf = 12

      if (y == 2000) and m < 10:
        continue

      if (y == 2013) and m > 9:
        continue

#      if (m >= 5 and m <= 9):
#        continue

      #if (m < 5 or m > 9):
      #  continue

      #if os.path.exists(f"t2m_{y}_{m:02d}.p"):
      #  print("jump")
       # continue      
      
      #/chinook/marinier/CONUS_2D/wrf2d_d01_CTRL_PREC_ACC_NC_200010-200012.nc
      sn = xr.open_dataset(f'{st}/{y}/wrf2d_d01_CTRL_T2_{y}{mi:02d}-{y}{mf:02d}.nc', engine='netcdf4')      
      pr = xr.open_dataset(f'{st}/{y}/wrf2d_d01_CTRL_PREC_ACC_NC_{y}{mi:02d}-{y}{mf:02d}.nc', engine='netcdf4')      

      # Slicing the domain to make the computations faster
      i1=721; j1=1167; i2=874; j2=1333
            
      sn = sn.T2
      pr = pr.PREC_ACC_NC 
      
      xlat = sn.XLAT
      xlon = sn.XLONG
      sn = sn[:,i1:i2,j1:j2]    
      pr = pr[:,i1:i2,j1:j2]    

      xlat = xlat[i1:i2,j1:j2]  
      xlon = xlon[i1:i2,j1:j2]  

      print(f"Month: {m}")

      datai = datetime.strptime(f'{y}-{m:02d}-01 00:00', '%Y-%m-%d %H:%M')
      dataf = datetime.strptime(f'{y}-{m:02d}-01 00:00', '%Y-%m-%d %H:%M')
      dataf += relativedelta(months=1)
    
      #print(wsn)
      
      sn = sn.sel(Time=slice(datai.strftime('%Y-%m-%d %H:%M'), dataf.strftime('%Y-%m-%d %H:%M')))
      pr = pr.sel(Time=slice(datai.strftime('%Y-%m-%d %H:%M'), dataf.strftime('%Y-%m-%d %H:%M')))
      
      return sn, pr
      
    
        
  return sn, pr

      #count_bool_le = np.less_equal(sn, 2)
      #count_bool_ge = np.greater_equal(sn, 2)

      # use the np.where to mask everything that's >2 and <-2 in the data
      # Where it's not masked, make it 1. 
      # Sum everything each month. That will be the number of hours      

      
      #pickle.dump( results_sn_p, open( f"t2m_{y}_{m:02d}.p", "wb" ) )      
      
      #events = np.empty((153,166), dtype=object)               

#if __name__ == '__main__':
#  main()